.postWrapper {
    min-height: auto;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formBox {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    background-image: 
    linear-gradient( 
        45deg, 
        rgb(244, 213, 255) 10%, 
        rgb(148, 250, 247) 50%, 
        rgb(148, 250, 247) 26.8%, 
        rgb(235, 253, 239) 80%  
    );

}