.postCardWrapper {
    direction: flex;
}

.textMe {
    padding-left: 5%
}
.uploaded {
    width: 300px;
    padding: 20px;
}

.mx-2 {
    margin-top: 10px;
}
.likeButtonCSS {
    display: flex;
    align-items: center;
    justify-content: left;
    margin:7px;
}