.profile-wrapper {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10%;
    margin-right: 5%;
}
.profile-cards {
    width: 90vw;
    opacity: 95%;
}

.text-center {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:space-between;
}

.owner-image-card {
    min-height: 24vh;
}

.dog-image-card {
    min-height: 29.5vh;
}

.rounded-circle {
    align-self: center;
}

@media screen and (max-width: 768px) {
    .profile-cards {
      
    margin-top:20%;
    margin-left:12%;
    }
}

/* on active text area  */