nav {
  display: flex;
  flex-direction: row-reverse;
  transform: rotate(-90deg) translate3d(-50%,0,0);
  top: 15%;
  left: -6.5rem;
  position: fixed;
}
nav h2 {
  margin-right: 20px;
  text-decoration: none;
  color: #575757;
}
nav h2:hover {
  margin-right: 20px;
  text-decoration: none;
  color: #ec704c;
}
nav h2.active {
  color: #ec704c;
}

.shopHover:hover {
  color: red;
  text-decoration: underline;
}

.navAll {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.Logout {
  color:red;
  font-weight: bolder;
}
.img {
  position:fixed;
  width: 75px;
  height: 75px;
  border-radius:60%;
  margin-left: 20px;
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #7a47e1 50%,
    rgb(255, 179, 221) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.img:before {
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
}
.img:hover {
  background-position: 0;
  cursor:url(https://cdn.custom-cursor.com/db/9896/32/cute-shiba-inu-cursor.png) , default!important;
}
 .img:hover::before {
  width: 100%;
}