

/* .profile-cards {
    width: 100vw;
} */
.card-feed-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 29%;
    margin-left: 10%;
    height:100vh;
}

.recent-posts {
    padding-top: 75%;
    font-weight: bolder;
}
