.wrapper {
    
    min-height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.login-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

.company-intro {
    max-height: 10px;
}
.company-name {
    font-size: 150px;
    font-weight: 600;
    font-family: 'Niconne', cursive;
    color: #fedefa;
    text-shadow: 2px 2px 0px  #957dad,
                4px 4px 0px #ee4b2b,
                6px 6px 0px #00c2cb,
                8px 8px 0px #ff7f50,
                10px 10px 0px #553c9a;
}

h2 {
    color: #7c795d; font-family: 'Georgia', sans-serif; font-size: 28px; font-weight: 400; line-height: 32px; margin: 0 0 24px;
}

.joinus {
    color: #f7764f; 
    font-family: 'Rouge Script'; 
    font-size: 50px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0 0 50px; 
    text-align: center;
    text-decoration:overline;
    text-decoration:underline;
}


.picture-left {
    padding-top: 50px;
    padding-left: 5em;
    margin-bottom: 50vh;
    width: 45%;
}

.login-right {
    margin-bottom: 50vh;
    padding-right: 5em;
    width: 45%;
    margin-top: 25vh;
}