.product {
    align-content: center;
    margin: 5em;
    margin-left: 220px;
    width: 19em;
    height: 19em;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.51);
}

.product h3{
    margin-top: 10px;
    margin-left: 30px;
}

.form label{
    text-align: center;
    margin-left: 40px;
}

.button {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 300px;
    padding-bottom: 30px;
    margin-top: 10px;
    width: 20%;
    display: block;
    font-size: 20px;
    border-radius: 6px;
    background-color: white;
    text-decoration: none;
}
